/*Global variables go below*/

body {
  height: 100%;
  width: 100%;
  background-color: blue;
  font-family: Arial, sans-serif;
  animation: changeBg 10s linear infinite;
}

@keyframes changeBg {
  0% {
    background-color: blue;
  }
  20% {
    background-color: orange;
  }
  40% {
    background-color: purple;
  }
  60% {
    background-color: red;
  }
  80% {
    background-color: orange;
  }
  100% {
    background-color: blue;
  }
}
/*Thanks to https://bit.ly/cssbganimation1 for the animation tutorial.*/

/*Global variables go above*/